.shownBtn
  position: absolute
  top: 55%
  right: 10px
  transform: translateY(-50%)
  border: none
  background: none
  cursor: pointer
  font-size: 18px
  color: #000

.passwordInputWrapper
  width: 100%
  position: relative



